<html lang="utf-8">
<head>
    <meta content="a2107" name="data-spm">
    <title>淘宝网 - 淘！我喜欢 </title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="https://x.alicdn.com/vip/havana-nlogin/0.5.50/index.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/taobao_pc.css">
</head>
<body class="chl-reg" data-spm="1">
<div class="" data-spm-anchor-id="a2107.1.0.i0.86a211d9SaI26E" id="page">

    <div class="clearfix" id="header">
        <div class="logo">
            <h1><a class="logo-link" href="//www.taobao.com" title="淘宝网"></a></h1>
            <a class="link" href="https://survey.taobao.com/survey/Q095thIx2">
                <i class="iconfont"></i> "登录页面"改进建议 </a>
        </div>
    </div>
    <div id="content">

        <div class="login-newbg">
            <input id="J_adUrl" name="adUrl" type="hidden" value="">
            <input id="J_adImage" name="adImage" type="hidden" value="">
            <input id="J_adText" name="adText" type="hidden" value="">
            <input id="J_viewFd4PC" name="viewFd4PC" type="hidden" value="">
            <input id="J_viewFd4Mobile" name="viewFd4Mobile" type="hidden" value="">
        </div>
        <div class="login-adlink">
            <a data-spm-anchor-id="a2107.1.0.0" href="https://www.taobao.com/m?spm=a2107.1.0.0.86a211d9SaI26E" target="_blank"></a>
        </div>

        <div class="content-layout">
            <div class="login-box-warp">
                <div class="login-box loading" id="container">
                    <div class="width-vertical login-label-icon login-view-password taobao_pc" id="login">
                        <div class="corner-icon-view view-type-qrcode"><i class="iconfont icon-qrcode"></i>
                            <div class="login-tip">
                                <div class="poptip">
                                    <div class="poptip-arrow"><em></em><span></span></div>
                                    <div class="poptip-content">扫码登录更安全</div>
                                </div>
                            </div>
                        </div>
                        <div class="login-content nc-outer-box">
                            <div class="login-password">
                                <div class="login-blocks login-switch-tab">
                                    <a class="password-login-tab-item" target="_self">密码登录</a>
                                    <a class="sms-login-tab-item" target="_self">短信登录</a>
                                </div>
                                <div class="login-error" id="login-error" style="display: none;">
                                    <i class="iconfont icon-warning"></i>
                                    <div class="login-error-msg"></div>
                                </div>
                                <form class="login-form" id="login-form">
                                    <div class="fm-field">
                                        <div>
                                            <label class="fm-label-icon"><i class="icon-user iconfont" title="用户名"></i></label>
                                        </div>
                                        <div class="input-plain-wrap input-wrap-loginid ">
                                            <input aria-label="会员名/邮箱/手机号" autocapitalize="off"
                                                   class="fm-text" id="userName" name="userName"
                                                   placeholder="会员名/邮箱/手机号" tabindex="1" type="text">
                                        </div>
                                    </div>
                                    <div class="fm-field">
                                        <div>
                                            <label class="fm-label-icon">
                                                <i class="icon-pwd iconfont" title="请输入登录密码"></i>
                                            </label>
                                        </div>
                                        <div class="input-plain-wrap input-wrap-password">
                                            <input aria-label="请输入登录密码" autocapitalize="off" class="fm-text"
                                                id="password" maxlength="40" name="password"
                                                placeholder="请输入登录密码" tabindex="2" type="password">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="baxia-container tb-login">
                                            <div id="baxia-password" style="display: block;"></div>
                                        </div>
                                        <div class="nc-container tb-login" data-nc-idx="1"
                                             id="nocaptcha-password" style="display: none;">
                                            <div class="nc_wrapper" id="nc_1_wrapper">
                                                <div class="nc_scale" id="nc_1_n1t">
                                                    <div class="nc_bg" id="nc_1__bg"></div>
                                                    <span class="nc_iconfont btn_slide" id="nc_1_n1z"></span>
                                                    <div class="scale_text slidetounlock" id="nc_1__scale_text"><span
                                                            class="nc-lang-cnt"
                                                            data-nc-lang="_startTEXT">请按住滑块，拖动到最右边</span></div>
                                                    <div class="clickCaptcha" id="nc_1_clickCaptcha">
                                                        <div class="clickCaptcha_text">
                                                            <b class="nc_captch_text" id="nc_1__captcha_text"></b>
                                                            <i class="nc_iconfont nc_btn_2 btn_refresh"
                                                               id="nc_1__btn_2"></i>
                                                        </div>
                                                        <div class="clickCaptcha_img"></div>
                                                        <div class="clickCaptcha_btn"></div>
                                                    </div>
                                                    <div class="imgCaptcha" id="nc_1_imgCaptcha">
                                                        <div class="imgCaptcha_text">
                                                            <label for="nc_1_captcha_input">
                                                                <input id="nc_1_captcha_input" maxlength="6" style="ime-mode:disabled"
                                                                       type="text">
                                                            </label>
                                                        </div>
                                                        <div class="imgCaptcha_img" id="nc_1__imgCaptcha_img"></div>
                                                        <i class="nc_iconfont nc_btn_1 btn_refresh" id="nc_1__btn_1"
                                                           onclick="document.getElementById('nc_1__imgCaptcha_img').children[0].click()"></i>
                                                        <div class="imgCaptcha_btn">
                                                            <div class="nc_captcha_img_text"
                                                                 id="nc_1__captcha_img_text"></div>
                                                            <div class="nc_scale_submit" id="nc_1_scale_submit"></div>
                                                        </div>
                                                    </div>
                                                    <div class="nc-cc" id="nc_1_cc"></div>
                                                    <i class="nc_voicebtn nc_iconfont" id="nc_1__voicebtn" role="button"
                                                       style="display:none" tabindex="0"></i>
                                                    <b class="nc_helpbtn" id="nc_1__helpbtn"><span class="nc-lang-cnt"
                                                                                                   data-nc-lang="_learning">了解新功能</span></b>
                                                </div>
                                                <div class="nc_voice" id="nc_1__voice"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fm-btn">
                                        <button id="loginButton" class="fm-button fm-submit password-login" tabindex="3" type="button">
                                            登录
                                        </button>
                                    </div>
                                    <div class="login-blocks sns-login-links">
                                        <a class="weibo-login"
                                           href="http://weibo.com/login.php?entry=taobao&amp;goto=https%3A%2F%2Flogin.taobao.com%2Faso%2Ftvs%3Fdomain%3Dweibo%26sid%3Da7bba721b8c3879abc1e2aba6285e983%26target%3D68747470733A2F2F7777772E74616F62616F2E636F6D2F&amp;goto2=https%3A%2F%2Fwww.taobao.com%2F" target="_self"><i class="iconfont"></i>微博登录</a>
                                        <a class="alipay-login"
                                           href="https://auth.alipay.com/login/index.htm?loginScene=7&amp;goto=https%3A%2F%2Fauth.alipay.com%2Flogin%2Ftaobao_trust_login.htm%3Ftarget%3Dhttps%253A%252F%252Flogin.taobao.com%252Fmember%252Falipay_sign_dispatcher.jhtml%253Ftg%253Dhttps%25253A%25252F%25252Fwww.taobao.com%25252F&amp;params=VFBMX3JlZGlyZWN0X3VybD1odHRwcyUzQSUyRiUyRnd3dy50YW9iYW8uY29tJTJG" target="_self"><i class="iconfont"></i>支付宝登录</a>
                                    </div>
                                    <div class="login-blocks login-links">
                                        <a class="forgot-password-a-link"
                                           href="https://passport.taobao.com/ac/password_find.htm?from_site=0&amp;lang=zh_CN&amp;app_name=tbTop&amp;tracelog=signin_main_pass" target="_blank">忘记密码</a>
                                        <a class="forgot-username-a-link"
                                           href="https://passport.taobao.com/ac/nick_find.htm?from_site=0&amp;lang=zh_CN&amp;app_name=tbTop" target="_blank">忘记用户名</a>
                                        <a class="register-a-link" href="https://reg.taobao.com/member/newbie.htm?from=login" target="_blank">免费注册</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">

        <div class="footer-hd">
            <p>
                <a href="http://page.1688.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a><b>|</b>
                <a href="http://www.alibaba.com">阿里巴巴国际站</a><b>|</b>
                <a href="http://www.1688.com">阿里巴巴中国站</a><b>|</b>
                <a href="http://www.aliexpress.com">全球速卖通</a><b>|</b>
                <a href="http://www.taobao.com">淘宝网</a><b>|</b>
                <a href="http://www.tmall.com">天猫</a><b>|</b>
                <a href="http://ju.taobao.com">聚划算</a><b>|</b>
                <a href="http://www.etao.com">一淘</a><b>|</b>
                <a href="http://www.alimama.com">阿里妈妈</a><b>|</b>
                <a href="https://www.fliggy.com">飞猪</a><b>|</b>
                <a href="http://www.xiami.com">虾米</a><b>|</b>
                <a href="http://www.aliyun.com">阿里云计算</a><b>|</b>
                <a href="http://www.yunos.com">云OS</a><b>|</b>
                <a href="http://www.net.cn">万网</a><b>|</b>
                <a href="http://www.alipay.com">支付宝</a><b>|</b>
                <a href="http://www.laiwang.com/">来往</a>
            </p>
        </div>
        <div class="footer-bd">
            <p>
                <span><a href="https://www.taobao.com/tbhome/page/about/home" rel="noopener noreferrer">关于淘宝</a></span>
                <span><a href="https://www.taobao.com/tbhome/page/about/partner?spm=a21bo.9614792.102.5.ed410c5siU20Y" rel="noopener noreferrer">合作伙伴</a></span>
                <span><a href="http://pro.taobao.com" rel="noopener noreferrer">营销中心</a></span>
                <span><a href="http://jubao.alibaba.com/internet/readme.htm?site=taobao" rel="noopener noreferrer">廉正举报</a></span>
                <span><a href="https://consumerservice.taobao.com/" rel="noopener noreferrer">联系客服</a></span>
                <span><a href="http://open.taobao.com" rel="noopener noreferrer">开放平台</a></span>
                <span><a href="http://www.taobao.com/about/join.php" rel="noopener noreferrer">诚征英才</a></span>
                <span><a href="http://consumerservice.taobao.com/contact-us" rel="noopener noreferrer">联系我们</a></span>
                <span><a href="https://www.taobao.com/tbhome/page/sitemap" rel="noopener noreferrer">网站地图</a></span>
                <span><a href="https://terms.alicdn.com/legal-agreement/terms/suit_bu1_taobao/suit_bu1_taobao201703241622_61002.html" rel="noopener noreferrer">隐私权政策</a></span>
                <span><a href="https://terms.alicdn.com/legal-agreement/terms/suit_bu1_taobao/suit_bu1_taobao201811121436_80276.html" rel="noopener noreferrer">法律声明</a></span>
                <span><a href="http://ipp.alibabagroup.com/" rel="noopener noreferrer">知识产权</a></span>
                <b>|</b> <em>© 2003-现在 Taobao.com 版权所有</em>
            </p>
            <p>
                <span><a href="http://www.beian.miit.gov.cn" rel="noopener noreferrer">增值电信业务经营许可证：浙B2-20080224</a></span><b>|</b>
                <span><a href="http://www.beian.miit.gov.cn" rel="noopener noreferrer">增值电信业务经营许可证（跨地区）： B2-20150210</a></span><b>|</b>
                <span><a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/2E7819FC84674D5980464916C24B7E3E" rel="noopener noreferrer">浙网文（2019）1033-086号</a></span><b>|</b>
                <span>浙江省网络食品销售第三方平台提供者备案：浙网食A33010001</span>
            </p>
            <p>
                <span>互联网药品信息服务资格证书（浙）-经营性-2018-0010</span><b>|</b>
                <span>短消息类服务接入代码使用证书：号【2016】00154-A01</span><b>|</b>
                <span>信息网络传播视听许可证：1109364号</span><b>|</b>
                <span>出版物网络交易平台服务经营备案号：新出发浙备字第002号</span>
            </p>
            <p>
                <span>
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000078" rel="noopener noreferrer" target="_blank">
                        <span class="tb-footer-mod" style="background-position:-861px 0; width:20px; height: 20px; "></span>
                        浙公网安备 33010002000078号
                    </a>
                </span><b>|</b>
                <span>广播电视节目制作经营许可证（浙）字第01012号</span><b>|</b>
                <span>市场名称登记证：工商网市字3301004120号</span><b>|</b>
                <span>医疗器械网络交易服务第三方平台备案：（浙）网械平台备字[2018]第00004号</span>
            </p>
        </div>
        <div class="footer-ft" style="font-size:40px;">
            <a class="pingpinganan" href="http://www.pingpinganan.gov.cn/" rel="noopener noreferrer" style="margin-left:15px; display:inline-block; background-position:0 0; width:36px; height:40px;"
               target="_blank">
            </a>
            <a class="footer2" href="http://idinfo.zjamr.zj.gov.cn//bscx.do?method=lzxx&amp;id=3301843301002003002431"
               rel="noopener noreferrer" style="margin-left:15px; display:inline-block; height: 40px; background-position:0 0; width:30px;"
               target="_blank">
            </a>
            <a class="footer2"
               href="http://idinfo.zjaic.gov.cn/bscx.do?spm=1.7274553.1997523009.29.alN7ce&amp;method=hddoc&amp;id=33018400000067"
               rel="noopener noreferrer" style="background-position:-40px 0; width:33px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2" href="http://www.theclimategroup.org.cn/about/friend?spm=1.7274553.1997523009.30.alN7ce"
               rel="noopener noreferrer" style="background-position:-80px 0; width:50px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2"
               href="https://ss.knet.cn/verifyseal.dll?spm=1.7274553.1997523009.31.alN7ce&amp;&amp;sn=2010062300100001357&amp;pa=20100701"
               rel="noopener noreferrer" style="background-position:-140px 0; width:83px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer3" href="http://report.12377.cn:13225/toreportinputNormal_anis.do" rel="noopener noreferrer"
               style="background-position:0 -18px; width:250px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2" href="http://www.12377.cn/node_548446.htm" rel="noopener noreferrer"
               style="background-position:-650px 0; width:105px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2"
               href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/2E7819FC84674D5980464916C24B7E3E"
               rel="noopener noreferrer" style="background-position:-345px 0; width:82px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2" href="https://credit.szfw.org/CX20160715023573390688.html" rel="noopener noreferrer"
               style="background-position:-761px 0; width:97px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
            <a class="footer2" href="http://jb.ccm.gov.cn/" rel="noopener noreferrer" style="background-position:-884px 0; width:249px; margin-left:15px; display:inline-block; height: 40px;"
               target="_blank">
            </a>
        </div>
    </div>
</div>
</body>
</html>